
.login_button {
    background-color: rgb(31, 31, 31);

    border: solid 0.15vw rgb(42, 42, 42);
    border-radius: 1vw;

    color: white;

    text-align: center;
    text-decoration: none;

    font-size: clamp(0.5rem, 1.25vw, 3rem);
    width: 10%;

    aspect-ratio: 3;
    
    
    position: relative;

    margin-inline: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}


.login_button:hover {
    color: rgb(255, 0, 0);
}

.download_b {
    font-family: sans-serif;
    font-size: clamp(0.5rem, 1.5vw, 3rem);
    font-weight: 550;

    color:rgb(255, 255, 255);
    background-color: rgb(109, 109, 109);
    border-radius: 0.75vw;
    /*border: solid 0.15vw rgb(82, 82, 82); */
    border: none;

    width: 30%;
    height: 45%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    left:2%;
    top:10%;
}

.download_b:hover {
    cursor: pointer;
}

.main_page {
    background-color: black;

    width:100%;
    aspect-ratio: 2;
}

.account_menu_title {
   
}