
.framework_page {
    background-color: black;

    width:100%;
    aspect-ratio: 0.75;
}

.framework_title {
    color: rgb(255, 0, 0);
    font-family:  sans-serif;
    font-size: clamp(0.5rem, 3vw, 5rem);
    max-width: 40%;
    background-color: rgba(127, 255, 212, 0);
    position: relative;
    max-width: fit-content;
    margin-inline: auto;
    top:12%;
    left:0%;
}

.framework_stat_box {
    background-color: rgb(31, 31, 31);
    color:white;
    border-radius: 1.5vw;

    width:50%;
    aspect-ratio: 3;

    margin-inline: auto;
    position: relative;

    border: solid 0.25vw rgb(42, 42, 42);

    /*box-shadow: 10px 10px rgb(44, 44, 44); */
}

.framework_stat_box._1{
    position: relative;
    top:4%;

    rotate: 3deg;
}

.framework_stat_box._2{
    position: relative;
    top:6.5%;
    left:8%;

    rotate: 357deg;
}

.framework_stat_box._3{
    position: relative;
    top:9%;
    left:-5%;

    rotate: 3deg;
}

.framework_stat_box_text {
    background-color: rgba(17, 24, 39, 0);
    color:white;
    text-align: center;
    margin-inline: auto;
}


.framework_stat_box_text.main {
    color:#ffffff;

    font-family: sans-serif;
    font-size: clamp(0.5rem, 2vw, 5rem);
    font-weight: 600;

    position: relative;
    top:25%;
}


.framework_stat_box_text.sub {
    color:rgb(175, 175, 175);

    font-family: sans-serif;
    font-size: clamp(0.5rem, 1.5vw, 5rem);
    font-weight: 500;

    width:50%;
    
    position: relative;
    top:33%;
}

.frameworks_holder {
    background-color: rgba(0, 255, 255, 0);

    width: 80%;

    position: relative;
    top:15%;

    margin-inline: auto;

    display: grid;

    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    grid-auto-rows: auto;
    gap:2%;
}

.framework_box {
    background-color: rgb(33,33,33);

    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
    border: solid 0.25vw rgb(42, 42, 42);
    overflow: hidden;
    border-radius: 1vw;

    /*Image background */
    background-repeat: no-repeat;   /* 🚫 no tiling */
    background-size: 95% 95%;       /* scale image inside box */
    background-position: center;    /* center it */

    transition: width 0.2s ease-in-out;

    margin: 0%;

    display: grid;
    column-gap: 5%;
}

/*https://tr.rbxcdn.com/180DAY-887febdd3a4b0ff1e2d97125b0b9b1b2/768/432/Image/Webp/noFilter*/

.framework_box:hover {
    width: 102%;
}

.framework_box_add_to_cart {
    color:rgb(255, 255, 255);
    background-color: rgb(109, 109, 109);

    font-family: sans-serif;
    font-size: clamp(0.25rem, 1.5vw, 3rem);
    font-weight: 600;

    border-radius: 1vw;
    border: none;

    pointer-events: auto;

    width:30%;
    height: 60%;

    position:relative;

    left:2%;
    top:20%;


    z-index: 3;
}

.framework_box_price_range {
    font-family: sans-serif;
    font-size: clamp(0.5rem, 1.5vw, 3rem);
    font-weight: 550;

    color:rgb(255, 255, 255);
    background-color: rgb(109, 109, 109);
    border-radius: 0.75vw;
    /*border: solid 0.15vw rgb(82, 82, 82); */
    border: none;

    width: 30%;
    height: 45%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    left:2%;
    top:10%;
}

.framework_box_name {
    color:rgb(148, 148, 148);
    background-color: rgba(109, 109, 109, 0);

    
    border-radius: 0.75vw;
   /* border: solid 0.15vw rgb(82, 82, 82); */

    -webkit-text-stroke: 0.05vw rgb(0, 0, 0);

    font-family: sans-serif;
    font-size: clamp(0.5rem, 2.5vw, 3rem);
    font-weight: 700;

    margin-inline: auto;

    position:relative;
    top:70%
}

.checkout_page {
    background-color: white;

    width:100%;
    aspect-ratio: 2;

    display: grid;
    column-gap: 5%;
    grid-template-rows: 10% 70% 10%;
    grid-template-columns: 40% 53%;
}

.checkout_title {
    background-color: rgba(42, 42, 42, 0);
    color: rgb(255, 0, 0);

    font-family:  sans-serif;
    font-size: clamp(0.5rem, 3vw, 5rem);

    height: 100%;
    
    margin-inline: auto;

    grid-column-start: 1;
    grid-column-end: 3;
}

.checkout_button {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);

    font-family:  sans-serif;
    font-size: clamp(0.5rem, 1.5vw, 5rem);
    font-weight: 600;
    
    width:30%;
    height: 100%;

    border-radius: 2vw;
    border:none;

    display: block;
    margin-inline: auto;
    grid-column-start: 1;
    grid-column-end: 3;
}

.checkout_cart_holder {
    background-color: rgba(0, 255, 255, 0);

    width: 100%;
    height: auto;

    align-self: start;


    margin-inline: auto;

    display: grid;

    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    grid-auto-rows: auto;
    gap:2%;
    row-gap: 5%;
}

.checkout_cart_item {
    background-color: rgb(160, 160, 160);

    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
    border: solid 0.25vw rgb(169, 169, 169);
    overflow: hidden;
    border-radius: 1vw;

    /*Image background */
    background-repeat: no-repeat;   /* 🚫 no tiling */
    background-size: 95% 95%;       /* scale image inside box */
    background-position: center;    /* center it */

    transition: width 0.2s ease-in-out;

    margin: 0%;

    display: grid;
    column-gap: 5%;
}

.checkout_cart_item:hover {
    width: 102%;
}

.checkout_cart_item_name {
    color:rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0);

    
    border-radius: 0.75vw;
   /* border: solid 0.15vw rgb(82, 82, 82); */
    /*-webkit-text-stroke: 0.05vw rgb(139, 139, 139); */

    font-family: sans-serif;
    font-size: clamp(0.5rem, 1.5vw, 3rem);
    font-weight: 700;

    margin-inline: auto;

    position: relative;
    top:50%;
}

.checkout_remove_from_cart {
    color:rgb(255, 255, 255);
    background-color: rgb(109, 109, 109);

    font-family: sans-serif;
    font-size: clamp(0.1rem, 1vw, 1.5rem);
    font-weight: 600;

    border-radius: 0.5vw;
    border: none;

    pointer-events: auto;

    width:40%;
    height: 50%;

    position:relative;

    left:2%;
    top:20%;

    z-index: 3;
}

.checkout_form_holder {
    background-color: rgba(128, 0, 255, 0);

    width: 100%;
    height: 100%;

    padding: 0%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* centers vertically */
    gap: 1rem; /* controls spacing between elements */
}


.crypto_qr_code_holder {
    background-color: rgb(255, 255, 255);

    width: 32%;
    aspect-ratio: 0.9;

    position: relative;

    border-radius: 1vw;

    box-shadow: 0 0 0.25vw 0.05vw rgba(0, 0, 0, 0.3); /* glow all around */
}

.crypto_qr_code {
    background-color: rgb(0, 0, 0);
    aspect-ratio: 1;

    width: 80%;

    display: flex;
    margin-inline: auto;

    margin-top: 5%;
}

.qr_code_main {

    display: flex;
    margin-inline: auto;

    margin-top: 2%;

    justify-content: center;

    font-family: sans-serif;

    font-size: clamp(0.5rem, 1.25vw, 5rem);
}

.qr_code_sub {
    color: black;

    display: flex;
    margin-inline: auto;

    margin-top: 5%;

    justify-content: center;

    font-family: sans-serif;

    font-size: clamp(0.5rem, 0.75vw, 5rem);
}

.requested_amount {
    color: black;

    display: flex;
    margin-inline: auto;

    justify-content: center;

    font-family: sans-serif;

    font-size: clamp(0.5rem, 1.25vw, 5rem);
}

.detail_note {
    color: black;

    display: flex;
    margin-inline: auto;

    justify-content: center;

    font-family: sans-serif;
    font-weight: 700;
    font-size: clamp(0.5rem, 0.75vw, 5rem);

    width: 60%;

    overflow-wrap: break-word;
    text-align: center;
}

.address_box {
    background-color: rgb(255, 255, 255);
    /*box-shadow: 0.5vw 0.5vw 0.5vw 0.5vw rgb(120, 120, 120);*/

    display: grid;
    margin-inline: auto;

    justify-content: center;

    font-family: sans-serif;

    width:60%;
    aspect-ratio: 10;

    border-radius: 2vw;
    /*border:solid 0.1vw lightgray;*/
    box-shadow: 0 0 0.25vw 0.05vw rgba(0, 0, 0, 0.2); /* glow all around */

    grid-template-columns: 85% 15%;

    align-items: center;
}

.copy_address_icon {
    background-color: rgba(255, 0, 0, 0);
    border:none;

    width: 50%;

    aspect-ratio: 1;


    font-family: sans-serif;
    font-weight: 600;
    font-size: clamp(0.5rem, 100%, 5rem);

    /*Image background */
    background-repeat: no-repeat;   /* 🚫 no tiling */
    background-size: contain;       /* scale image inside box */
    background-position: center;    /* center it */

    background-image: url('../Assets/CopyIcon.png');
}

.copy_address_icon:hover {
    cursor: pointer;
}

.address_text {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: sans-serif;
    font-weight: 600;
    font-size: clamp(0.5rem, 100%, 5rem);
}

.gray_mark {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0.25vw 0.05vw rgba(0, 0, 0, 0.2); /* glow all around */
}