* {
  margin: 0;        /* removes default margin */
  padding: 0;       /* removes default padding */
  box-sizing: border-box;
}


.menu_box {
    aspect-ratio: 40; 
    width: 100%;
    max-width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid red;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    position: fixed;
    top:0%;
    left:0%;
    z-index: 2;
    /* Blur */
    backdrop-filter: blur(10px);          /* applies blur */
    -webkit-backdrop-filter: blur(10px);  /* Safari support */
}


.menu_title {
    background-color: rgba(0, 0, 0, 0) ;
    color: rgb(255, 0, 0);
    font-family: sans-serif;
    position: relative;
    font-size: clamp(0.5rem, 2vw, 3rem);
    top: 0;
    left: 15%; 
    max-width: 50;
}

.menu_home_button {
    background-color: #00000000; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: clamp(0.5rem, 1.25vw, 3rem);
    width: 5%;
    position: relative;
    left: 50%;
}

.menu_home_button:hover {
    color: rgb(255, 0, 0);
}

.menu_contact_button {
    background-color: #00000000; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: clamp(0.5rem, 1.25vw, 3rem);
    width: 5%;
    position: relative;
    left: 51%;
}   

.menu_contact_button:hover {
    color: rgb(255, 0, 0);
}

/* Opening */

.opening_box {
    width: 100%;
    aspect-ratio: 3;
    background-color: rgb(0, 0, 0);
    margin: 0;
    border: 0;
    margin-top: 0%;
    position: relative;
    top:0;
    left:0%;
}

.opening_saying1 {
    position: relative;
    top:25%;
    left:15%;
    color: rgb(255, 0, 0);
    font-family:  sans-serif;
    font-size: clamp(0.5rem, 2.5vw, 5rem);
    max-width: 40%;
    background-color: rgba(127, 255, 212, 0);
}

.opening_saying2 {
    position: relative;
    top:25%;
    left:15%;
    color: aliceblue;
    font-family:  sans-serif;
    font-size: clamp(0.5rem, 2.5vw, 5rem);
    max-width: 40%;
    background-color: rgba(127, 255, 212, 0);
}

.framework_button {
    color: aliceblue;
    background-color: rgb(17, 24, 39);
    box-shadow: none;
    font-family:  sans-serif;
    font-size: clamp(0.5rem, 1.5vw, 5rem); 
    font-weight: bold;
    width: 15%;
    border-radius: 0.5vw;
    border: none;
    aspect-ratio: 5;
    position: relative;
    left: 27%;
    top:32%;
}


.development_team_button {
    color: aliceblue;
    background-color: rgb(17, 24, 39);
    box-shadow: none;
    font-family:  sans-serif;
    font-size: clamp(0.5rem, 1.5vw, 5rem); 
    font-weight: bold;
    width: 15%;
    border-radius: 0.5vw;
    border: none;
    aspect-ratio: 5;
    position: relative;
    left: 24%;
    top:32%;
}

.games_button {
    color: aliceblue;
    background-color: rgb(17, 24, 39);
    box-shadow: none;
    font-family:  sans-serif;
    font-size: clamp(0.5rem, 1.5vw, 5rem); 
    font-weight: bold;
    width: 15%;
    border-radius: 0.5vw;
    border: none;
    aspect-ratio: 5;
    position: relative;
    left: 30%;
    top:32%;
}

.framework_button:hover {
    color: rgb(255, 0, 0);
}



.development_team_button:hover {
    color: rgb(255, 0, 0);
}

.games_button:hover {
    color: rgb(255, 0, 0);
}

.major_stats_box {
    background-color: rgba(66, 66, 66, 0);
    border: none;
    color: aliceblue;
    width: 85%;
    aspect-ratio: 16;
    position: relative;
    top: 38%;
    margin-inline: auto; /* centers div lol */
    display:flex;
    justify-content: center;
    flex-direction: row;
    gap: 2%;
}

.stats_textbox {
    background-color: rgb(17, 24, 39);
    border: none;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    width: 18%;
    height: 100%;
    border-radius: 0.5rem;
}

.stats_main_text {
    color: aliceblue;
    font-family:  sans-serif;
    font-size: clamp(0.25rem, 1.5vw, 5rem);
    font-weight: bold;
    max-width: fit-content;
    margin-inline: auto;
    position: relative;
    top:25%;
}

.stats_sub_text {
    color: rgb(125, 125, 125);
    font-family:  sans-serif;
    font-size: clamp(0.25rem, 1vw, 5rem);
    max-width: fit-content;
    margin-inline: auto;
    position: relative;
    top:10%;
}

/* Games */
.games_box {
    width: 100%;
    aspect-ratio: 1;
    background-color: rgb(192, 192, 192);
    margin: 0;
    max-width: 100vw;
}

.games_box_title {
    color: rgb(255, 0, 0);
    font-family:  sans-serif;
    font-size: clamp(0.5rem, 2.5vw, 5rem);
    max-width: 40%;
    background-color: rgba(127, 255, 212, 0);
    position: relative;
    max-width: fit-content;
    margin-inline: auto;
    top:2%;
    left:0%;
}


.game_holder {
    background-color: rgb(127, 255, 212);
    width: 90%;
    aspect-ratio: 1;
    position: relative;
    margin-inline: auto;
    top:4%;
    /* IN box alignment */
    display:flex;
    justify-content: center;
    flex-direction: row;
    gap: 2%;
}

.main_game_box {
    background-color: blueviolet;
    width: 45%;
    aspect-ratio: 1.5;
    max-height: fit-content;
}

.main_game_box:hover {
    width: 47%;

}

.game_detail_box {
    background-color: rgb(66, 66, 66);
    border: none;
    color: aliceblue;
    width: 65%;
    height: 12%;
    position: relative;
    top: 10%;
    margin-inline: auto; /* centers div lol */
    display:flex;
    justify-content: center;
    flex-direction: row;
    gap: 2%;
}

.main_game_box_title {
    font-family: sans-serif;
    color:aliceblue;
    background-color: aqua;
    font-size: clamp(0.5rem, 2.5vw, 5rem);
    width: 40%;
    height: 20%;
    position: relative;
    top:0%;
    left:0%;
}   

.main_game_box_ccu {
    background-color: aqua;
    font-family: sans-serif;
    color: aliceblue;
    font-size: clamp(0.5rem, 1vw, 5rem);
    width: 30%;
    height: 100%;
    position: relative;
}

.main_game_box_vists-likes {
    background-color: aqua;
    font-family: sans-serif;
    color: aliceblue;
    font-size: clamp(0.5rem, 1vw, 5rem);
    width: 30%;
    height: 100%;
    position: relative;
}
